<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akilimo.mobile">
    <!-- let us add permissions here -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Akilimo"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon, android:theme, android:label"
        tools:targetApi="s">

        <!-- sentry loggin section -->
        <!-- Required: set your sentry.io project identifier (DSN) -->
        <meta-data android:name="io.sentry.dsn" android:value="https://a411c08f8d5249f393ecdc3496fa069c@o212209.ingest.sentry.io/1338615" />

        <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
        <!-- enable screenshot for crashes -->
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
        <!-- enable view hierarchy for crashes -->
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />

        <!-- enable the performance API by setting a sample-rate, adjust in production env -->
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <!-- enable profiling when starting transactions, adjust in production env -->
        <meta-data android:name="io.sentry.traces.profiling.sample-rate" android:value="1.0" />

        <service android:name=".services.GPSTracker" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".views.activities.HomeStepperActivity" />
        <activity
            android:name=".views.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.activities.SweetPotatoMarketActivity" />
        <activity android:name=".views.activities.TractorAccessActivity" />
        <activity android:name=".views.activities.ManualTillageCostActivity" />
        <activity android:name=".views.activities.CassavaMarketActivity" />
        <activity android:name=".views.activities.MaizeMarketActivity" />
        <activity android:name=".views.activities.FertilizersActivity" />
        <activity android:name=".views.activities.IntercropFertilizersActivity" />
        <activity android:name=".views.activities.DatesActivity" />
        <activity android:name=".views.activities.usecases.RecommendationsActivity" />
        <activity android:name=".views.activities.usecases.FertilizerRecActivity" />
        <activity android:name=".views.activities.MapBoxActivity" />
        <activity android:name=".views.activities.RootYieldActivity" />
        <activity android:name=".views.activities.InvestmentAmountActivity" />
        <activity android:name=".views.activities.DstRecommendationActivity" />
        <activity android:name=".views.activities.WeedControlCostsActivity" />
        <activity android:name=".views.activities.usecases.PlantingPracticesActivity" />
        <activity android:name=".views.activities.usecases.ScheduledPlantingActivity" />
        <activity android:name=".views.activities.MaizePerformanceActivity" />
        <activity android:name=".views.activities.usecases.InterCropRecActivity" />
        <activity android:name=".views.activities.MySurveyActivity" />
    </application>

</manifest>
