<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iita.akilimo">
    <!-- let us add permissions here -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Akilimo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon, android:theme, android:label, android:allowBackup"
        tools:targetApi="m">


        <service android:name=".services.GPSTracker" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ca1a8f3133ce2b7f055369923b3532240ee2202b" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".views.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activities.SweetPotatoMarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.TractorAccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ManualTillageCostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.CassavaMarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.MaizeMarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.FertilizersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.IntercropFertilizersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.DatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.RecommendationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.FertilizerRecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.MapBoxActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activities.RootYieldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.InvestmentAmountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.DstRecommendationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.WeedControlCostsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.activities.PlantingPracticesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.ScheduledPlantingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.MaizePerformanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.activities.InterCropRecActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>